.DS_Store
.vscode
python_manual.txt
keras_tensorflow_guide.txt
DL_Udacity
CV_Udacity
open_cv_python_manual.txt
catalog_opencv_methods.txt
CVND_Exercises
DL_Pytorch
P1_Facial_Keypoints
deep_learning_udacity
bak
litearture/*.pdf